// this file is for changes that arent defaulted
// you cannot use changes that havent been imported, i.e $success

// import functions
@import"../node_modules/bootstrap/scss/functions";


  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Merriweather:wght@700&family=Roboto&display=swap');




$primary: #ff6f65;
$secondary: #4d8c79;
$success: #d3eaff;
$info: #7bd580;
$warning:#febfc8;
$danger:#fedf70;
$light:#4a5980;
$dark:#228a69;

$font-family-monospace: 'Merriweather', serif;
$font-family-monospace2: 'Inter', sans-serif;



//spacers
$spacer: 1rem !default;
$spacers: (
    0:0,
    1:$spacer *0.1,
    2:$spacer *0.33,
    3:$spacer,
    4:$spacer *2,
    5:$spacer *3,
    6:$spacer *4,
    7:$spacer *5,
    8:$spacer *6,
    9:$spacer *10,
    10:$spacer *18,
) !default;



// import bootstrap.scss
@import"../node_modules/bootstrap/scss/variables";
@import"../node_modules/bootstrap/scss/mixins";


//custom colours after the import to edit them
$custom-colors: (
"primary-light": rgba(137, 219, 240, 0.933),
"secondary-subtle": rgba(210, 112, 255, 0.933),
);

// when done, merge
$theme-colors: map-merge($theme-colors , $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.my_bg{
    background-image: url(/images/1229315.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:1200px;
}

.fixy
{
    top:1250px;
    left:100px;
    position:absolute;
    z-index:10;
}

.fixy2
{
    top:1750px;
    left:2000px;
    position:absolute;
    z-index:10;
}

.fixy3
{
    top:2345px;
    left:2150px;
    position:absolute;
    z-index:10;
}

.my-footer{
    background-image: url(/images/flower.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position:0% 800px;
}

#CarouselSlider {
    max-height: 100vh;
    overflow: hidden;
}
.carousel-caption {
    right: initial;
    top: 35%;
    bottom: initial;
    padding-bottom: 1.25rem;
    text-align: left;
}
.carousel-caption {
    background-color: rgb(0 0 0 / 22%);
    padding: 20px;
    border-radius: 10px;
}

